{% extends "template.html" %}
{% block contenido %}
<div class="container-md w-80 mt-3 containericons text-center">
    <table class="table table-bordered table-responsive mt-3">
                <thead class="thead-light">
                    <tr>
                    <th scope="col-md-1">Código</th>
                    <th class=" col-md-4 text-rigt">Práctica</th>
                    <th scope="col-md-2">Diente</th>
                    <th scope="col-md-2">Cara</th>
                    <th scope="col-md-2">Cantidad</th>
                    </tr>
                </thead>
                <tbody class="bg-light">
                    <tr>
                    <td class="col-2"><div>
                        <label class="mr-sm-3 sr-only" for="inlineFormCustomSelect">Preference</label>
                        <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                        <option selected>Cod</option>
                        <option value="1">0202</option>
                        <option value="2">090101</option>
                        <option value="3">0302</option>
                        </select>
                    </div></td>
                    <td>
                        <div class="col-md-4">ffffffffffffffff</div></td>
                    <td>
                        <input class="col-md-4" type="text" >
                    </td>
                    <td>
                        <input class="col-md-4" type="text" >
                    </td>
                    <td> 
                        <input class="col-md-4" type="text" >
                    </td>
                    </tr>
                    <tr>
                    <td class="col-2"><div>
                        <label class="mr-sm-3 sr-only" for="inlineFormCustomSelect">Preference</label>
                        <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                        <option selected>Cod</option>
                        <option value="1">0202</option>
                        <option value="2">090101</option>
                        <option value="3">0302</option>
                        </select>
                    </div></td>
                    <td>
                        <div class="col-md-4">ffffffffffffffff</div></td>
                    <td>
                        <input class="col-md-4" type="text" >
                    </td>
                    <td>
                        <input class="col-md-4" type="text" >
                    </td>
                    <td> 
                        <input class="col-md-4" type="text" >
                    </td>
                    </tr>
                    <tr>
                        <td class="col-2"><div>
                            <label class="mr-sm-3 sr-only" for="inlineFormCustomSelect">Preference</label>
                            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                            <option selected>Cod</option>
                            <option value="1">0202</option>
                            <option value="2">090101</option>
                            <option value="3">0302</option>
                            </select>
                        </div></td>
                        <td>
                            <div class="col-md-4">ffffffffffffffff</div></td>
                        <td>
                            <input class="col-md-4" type="text" >
                        </td>
                        <td>
                            <input class="col-md-4" type="text" >
                        </td>
                        <td> 
                            <input class="col-md-4" type="text" >
                        </td>
                        </tr>
                        <tr>
                            <td class="col-2"><div>
                                <label class="mr-sm-3 sr-only" for="inlineFormCustomSelect">Preference</label>
                                <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                                <option selected>Cod</option>
                                <option value="1">0202</option>
                                <option value="2">090101</option>
                                <option value="3">0302</option>
                                </select>
                            </div></td>
                            <td>
                                <div class="col-md-4">ffffffffffffffff</div></td>
                            <td>
                                <input class="col-md-4" type="text" >
                            </td>
                            <td>
                                <input class="col-md-4" type="text" >
                            </td>
                            <td> 
                                <input class="col-md-4" type="text" >
                            </td>
                            </tr>
                </tbody>
                </table>
                <div class="text-center mb-2">
                    <a href='{{ url_for("todomal") }}'><button  type="button" class="btn btnlogin btn-light ">Guardar</button></a>
                </div>
            </div>
        </div>
{% endblock %}