{% extends "template.html" %}
    {% block contenido %}
    <div class="container">
        <form class="bg-circulo-transp2 p-5 m-4 needs-validation formpatient" novalidate>
            <div class="form-row">
              <div class="col-md-4 mb-3">
                <label for="validationTooltip01">Nombre</label>
                <input type="text" class="form-control" id="validationTooltip01" placeholder="Nombre del paciente"  required>
                <div class="valid-tooltip">
                  Correcto!
                </div>
              </div>
              <div class="col-md-4 mb-3">
                <label for="validationTooltip02">DNI</label>
                <input type="text" class="form-control" id="validationTooltip02" placeholder="DNI del paciente"  required>
                <div class="valid-tooltip">
                  Correcto!
                </div>
              </div>
              <div class="col-md-4 mb-3">
                <label for="validationTooltipUsername">Username</label>
                <div class="input-group">
                  <input type="text" class="form-control" id="validationTooltipUsername" placeholder="Username" aria-describedby="validationTooltipUsernamePrepend" required>
                  <div class="invalid-tooltip">
                    Please choose a unique and valid username.
                  </div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-6 mb-3">
                <label for="validationTooltip03">City</label>
                <input type="text" class="form-control" id="validationTooltip03" placeholder="City" required>
                <div class="invalid-tooltip">
                  Please provide a valid city.
                </div>
              </div>
              <div class="col-md-3 mb-3">
                <label for="validationTooltip04">State</label>
                <input type="text" class="form-control" id="validationTooltip04" placeholder="State" required>
                <div class="invalid-tooltip">
                  Please provide a valid state.
                </div>
              </div>
              <div class="col-md-3 mb-3">
                <label for="validationTooltip05">Zip</label>
                <input type="text" class="form-control" id="validationTooltip05" placeholder="Zip" required>
                <div class="invalid-tooltip">
                  Please provide a valid zip.
                </div>
              </div>
            </div>
            <button class="btn btn-primary" type="submit">Submit form</button>
          </form>
        </div>
    
    {% endblock %}