{% extends "template.html" %}
    {% block contenido %}
    <div class="container d-flex">
        <div class="col-sm-8">

        </div>
    
        <div class="container containerlogin col-sm-4 bg-circulo-transp p-4 ml-5">
            <h3 class="textlogin">Acceso de usuarios</h3>
            <br>
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="Email">
                <label class="labelform" for="floatingInput">E-mail</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Contraseña">
                <label class="labelform" for="floatingPassword">Contraseña</label>
            </div>
            <br>
            <input class="btn btnlogin btn-light" type="submit" value="Ingresar">
        </div>
    </div>
    
    {% endblock %}
