{% extends "template.html" %}
    {% block contenido %}
    <div class="container-md d-md-flex">
        <div class="container-md col-sm-3 containericons text-center">
            <br>
            <div>
                <img class="img-fluid" src="/static/images/iconomed.png" alt="">
            </div>
            <br>
            <div>
                <button type="button" class="btn btnlogin btn-light">Consulta de Prestadores</button>
            </div>
            <br>
            <br>
        </div>
    </div>
    {% endblock %}